body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #d8d9db, #3e899e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, 
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-checkout:hover {
    background-color: #5a6268;
    transform: scale(1.05);
    transition: background 0.3s ease, transform 0.3s ease;
}
.btn-checkout {
    background-color: #007BFF; 
    margin-top: 10px;
}

.btn-checkin:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    transition: background 0.3s ease, transform 0.3s ease;
}
.btn-checkin {
    background-color: #007BFF; 
    margin-top: 10px;
}